@font-face{
    font-family: SF;
    src: url(../assets/fonts/SalesforceSans-Regular.ttf);
}

.body{
    background: linear-gradient(to top, #a0b4ce00 0, #a0b4ce);
}

div#waiting{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    cursor: wait;
}

div#gradient{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
	background: linear-gradient(-45deg, #0077a7, #065276); /*#EE7752, #E73C7E, #23A6D5, #23D5AB);*/
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

.google{
    background: #DB4437;
    color: #fff;
}

.google:hover, .google:focus, .google:active{
    background: #DB4437;
    color: #fff;
    /* colors disabled
    background: #c44439;
    color: #fff;*/
}

.linkedin{
    background: #008cc9;
    color: #fff;
}

.linkedin:hover, .linkedin:focus, .linkedin:active{
    background: #008cc9;
    color: #fff;
    /* colors disabled
    background: #0077b5;
    color: #fff;*/
}

.slds-global-header__logo{
    background-image: url(assets/logo.png);
}

div#taskmodal, section#userpopup, h2#loader-message-1, h2#loader-message-2, div#gradient, div#waiting{
    display: none;
}

.loader-bg{
    background: linear-gradient(to top, #fff 0, #a0b4ce);
}

.noscroll{
    overflow: hidden;
}

#chart{
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    padding: 5px;
}

#chart div{
    float: right;
}

.disabled{
    cursor: not-allowed;
}

g:nth-child(10) g text{
    font-family: SF!important;
    font-size: 12px!important;
}


@-webkit-keyframes Gradient {
	0%   { background-position: 0% 50% }
	50%  { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@-moz-keyframes Gradient {
	0%   { background-position: 0% 50% }
	50%  { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@keyframes Gradient {
	0%   { background-position: 0% 50% }
	50%  { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar {
	height: 10px;
}

::-webkit-scrollbar-track {
    /*border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;*/
    background: #fff;
    max-height: 500px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(45deg, #ccc, #eee);
    border: 1px solid #aaa;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: #ddd;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #bbb, #ddd);
  }